#mainContent{
  text-align: center;
  padding-top: 20%;
  text-shadow: -1px 5px 2px red,-1px 8px 2px yellow,-1px 12px 2px orange,-1px 16px 2px green,-1px 20px 2px blue,-1px 24px 2px purple;
}
body{
  background: url("https://images.unsplash.com/photo-1522199780729-a356c844222a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1bd52b437d57c3bfa14ccb7c6985b02e&auto=format&fit=crop&w=1504&q=80");
  background-size: cover;
  background-position: center;
  font-family: Lato;
}
html{
  height: 100%;
}
h1{
  font-weight: 700;
  color: white;
  font-size: 5em;
}
h3{
  color:white;
}
hr{
  border-bottom: 3px solid rgba(0,0,0,0.2);
  width: 25%;

}
